.form{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    width: 500px;
    background-color: #1f2a48;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_input{
    background-color: #1f2a48;
    border: none;
    margin-left: 10px;
    outline: none;
    color: #fff;

}

::placeholder { 
    color: #8087a1;
}

.submit-btn{
    background-color: #0378fc;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    letter-spacing: 1px;
}